@mixin themeable($background-color,$color){

}
@mixin heading($spacing: 3px, $weight: 300, $case: uppercase) {
  letter-spacing: $spacing;
  font-weight: $weight;
  text-transform: $case;
  color:var(--light-heading-color)
}

@mixin flex(
  $dir: row,
  $justifyContent: center,
  $alignItems: center,
  $gap: 1rem
) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justifyContent;
  align-items: $alignItems;
  gap: $gap;
}


@mixin grid($col:1fr,$justifyContent:center,$alignItems:center,$gap:1rem,$row:unset){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    grid-auto-flow: $gap;
}


@mixin inputStyle($w:100%,$p:1rem,$bgColor:inherit,$border:none){
padding: $p;
width: $w;
background-color: $bgColor;
border: $border;
}

@mixin posCenter(){
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}

@mixin square($size:1rem){
    height: $size;
    width: $size;
}